/* 

html {
  scroll-behavior: smooth;
} */
body {
  background-color: #27496d !important;
  overflow: hidden;
  /* background-image: url('./assets/images/background.jpg'); */
  background-position: center;  
  background-repeat: no-repeat;   
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-container {    
  display: flex;   
  justify-content: space-between;  
} 

.flex-container .item {    
  flex-basis: 100%;  
}

.profile-caption {
  margin: 3%;
}

.home-grid-container .profile-img { 
  /* margin-top: 5%; */
  max-width: 300px;
  /* height: auto; */
  border-radius: 5px;
  /* align-self: center; */
}

.home-title {
  /* display: inline; */
  /* text-align: center;
  align-content: center;
  justify-content: center; */
  /* place-content: center; */
  align-self: center;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  color: white;
}
.home-p {
  align-self: center;
  font-size: xx-large;
  font-weight: bolder;
  color: aliceblue;
}
.home-grid-container .item {
  background-color: gray;
  border-radius: 5px;
  justify-content: center;  
  display: flex;
  cursor: pointer;
}
.home-grid-container .item:hover {  
  background-color: #142850;
}

.home-grid-container {  
  margin: 1%;
  padding-right: 3%;
  padding-bottom: 3%;
  /* margin-top: 1%;
  margin-bottom: 3%;
  margin-left: 1%;
  margin-right: 3%; */
  display: grid;
  grid-gap: 1%;
  height: 100vh;
  width: 100vw;
  /* max-width:98%;
  max-height:50%; */
  /* justify-content: stretch; */
  /* grid-template-rows: 80px 200px; */
  grid-template-columns: auto auto auto;
  /* justify-items: stretch;
  align-content: stretch;   */
  /* grid-gap: 10px; */
  /* grid-template-areas:
    'profileImg profileImg item1 item1 item2 item2'
    'profileImg profileImg item4 item4 item5 item5 '
    'item6 item6 item6 item6 item6 item6';    */
  
} 
/* .home-grid-container > div {  
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */
.home-grid-container .itemImg {
  /* grid-area: profileImg; */
  /* grid-column: 2;
  grid-row: 1; */
  display: flex;
  justify-content: center;
}
.home-grid-container .item1 {  
  /* grid-area: item1; */

  background-color: #0c7b93;
  /* grid-column: 1;
  grid-row: 1; */
}
.home-grid-container .item2 {
  /* grid-area: item2; */
   background-color: #00a8cc;
  /* grid-column: 3;
  grid-row: 1; */
}
.home-grid-container .item3 {
  /* grid-area: item3; */
  /* grid-column: 1;
  grid-row: 2; */
}
.home-grid-container .item4 {
  /* grid-area: item4; */
   background-color: #00a8cc;
  /* grid-column: 2;
  grid-row: 2; */
}
.home-grid-container .item5 {
  /* grid-area: item5; */
   background-color: #0c7b93;
  /* grid-column: 3;
  grid-row: 2; */
}

.grid-container {
  margin: 5%;
  display: grid;
  grid-gap: 2%;
  /* grid-gap: 10px; */
  grid-template-areas:
    /* 'header header header header header header' */
    'menu2 main2 main2 main2 main2 main2'
    /* 'footer footer footer footer footer'; */
}

.grid-container .left-panel {
  /* grid-row: 1 / 4;
  grid-column: 1; */
  grid-area: menu2;
  background-color: white;
  border-radius: 5px;  
  max-width: 350px;
}

.right-panel {
  /* grid-column: 2 / 12; */
  grid-area: main2;
  background-color: white;
  border-radius: 5px;  
  justify-content: right;
  /* width: 1350px; */
  /* max-width: 1350px; */
}

.content-title {
  margin-top: 3%;
}

.content-panel {  
  margin: 3%;
  font-size: larger;
}

.section-title {  
  text-align: left;
  font-size: x-large;
  font-weight: bold;
}


.list {
  font-size: medium;
  text-align: left;
}

.indent-it {
  margin-left: 10px;
}


/****** Navbar *******/
.nav-link {
  /* color: #27496d; */
  font-size: x-large;
  font-weight: bold;
  color: white;
}

.active {
  color: #00a8cc !important;
  font-size: xx-large !important;
}

/****** med-gen *******/
.med-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.med-menu {
  /* background-color: white; */
  margin: 10%;
  /* padding-top: 50%; */
  border-radius: 5px; 
  color: white;
}

.med-body {
  overflow-y: scroll;
  padding: 20px;
  scroll-behavior: smooth;
}

.profile-img {    
  margin-top: 5%;
  margin-bottom: 10%;
  max-width: 90%;
  max-height: 300px;
  height: auto;
  border-radius: 25px;
}

/**** Page Content *****/
.page {
  background-color: white;
  border-radius: 5px;
}

.page-title {
  margin-top: 3%;
  padding-top: 1%;
  text-align: center;
  font-size: xx-large;
} 

.page-content {  
  padding: 3%;
  font-size: larger;
}

